{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="utf-8">
    <title>Products - Sensors, Consultancy & Web Services | Infiiot Technologies</title>
    <meta name="keywords" content="3d printing, industry grade desktop printers, divide by zero, cost effective, fast 3d printers, cheap 3d printers, inexpensive, dual nozzle, rapid manufacturing, rapif prototyping, 3D, consultancy, web development services, web services,Infiiot Technologies, electronics company, electronics product company, latest tech, electronics, internet of things, design, infi sense, iot">
    <meta name="description" content="Infiiot Technology's catalog of wide range of data monitoring and logging products. All products are modifiable according to users needs. Dive-in to know about what we can offer">


    <!-- mobile responsive meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="theme-color" content="#000000">

    <!-- ** Plugins Needed for the Project ** -->
    <style type="text/css">
        .mobileHide {
            display: inline;
            width: 100vw;
            height: 100vh;
        }
        
        .loader {
            position: fixed;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
            z-index: 9999;
            background-color: #ffffff;
        }
        
        .loader img {
            margin-top: 28vh;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        /*  Uncomment this code to hide loader on mobile */
        /*@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
            .mobileHide {
                display: none;
            }
        }*/
    </style>
    <script>
        window.onload = function() {
            //display loader on page load 
            $('.loader').fadeOut();
        }
    </script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="{% static 'plugins/bootstrap/bootstrap.min.css' %}">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="{% static 'plugins/fontawesome/font-awesome.min.css' %}">
    <!-- Animation -->
    <link rel="stylesheet" href="{% static 'plugins/animate.css' %}">
    <!-- Prettyphoto -->
    <link rel="stylesheet" href="{% static 'plugins/prettyPhoto.css' %}">
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="{% static 'plugins/owl/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/owl/owl.theme.css' %}">
    <!-- Flexslider -->
    <link rel="stylesheet" href="{% static 'plugins/flex-slider/flexslider.css' %}">
    <!-- Flexslider -->
    <link rel="stylesheet" href="{% static 'plugins/cd-hero/cd-hero.css' %}">
    <!-- Style Swicther -->
    <link id="style-switch" href="{% static 'css/presets/preset3.css' %}" media="screen" rel="stylesheet" type="text/css">
    <!-- SweetAlert2 -->
    <link rel="stylesheet" href="{% static 'plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css' %}">

    <!-- Page Loader -->
    <script src="{% static 'plugins/jquery-3.3.1.js' %}">
    </script>
    <script>
        $(function() {
            $("#header").load("headerpage");
            $("#footer").load("footerpage");
        });
    </script>

    <!-- Main Stylesheet -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!--Favicon-->
    <link rel="icon" href="{% static 'images/favicon/logo.png' %}" type="image/x-icon" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'img/favicon/favicon-144x144.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'img/favicon/favicon-72x72.png' %}">
    <link rel="apple-touch-icon-precomposed" href="{% static 'img/favicon/favicon-54x54.png' %}">

</head>

<body>
    <div class="mobileHide">
        <div class="loader"><img src="{% static 'gifs/loader.gif' %}"></div>
    </div>
    <div class="body-inner">

        <!-- Header start -->
        <div id="header"></div>

        <!-- Bannerstart -->
        <div id="banner-area">
            <img src="{% static 'images/banner/products.jpg' %}" style="width: 100%; height: 100%; background-size: cover;" alt="robotic arm" />
            <div class="parallax-overlay"></div>
            <!-- Subpage title start -->
            <div class="banner-title-content">
                <div class="text-center">
                    <h2>Products/3D Printing Services</h2>
                    </nav>
                </div>
            </div>
            <!-- Subpage title end -->
        </div>
        <!-- Banner area end -->

        <!-- Main container start -->
        <section id="main-container">
            <div class="container">
                <!-- Services -->
                <div class="row">
                    <div class="col-md-12 heading">
                        <span class="title-icon classic float-left"><i class="fa fa-cogs"></i></span>
                        <h2 class="title classic">3D Printing Services</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-4 wow fadeInDown" data-wow-delay=".5s">
                        <div class="service-content">
                            <div class="grid">
                                <figure class="m-0 effect-oscar">
                                    <img src="{% static 'images/portfolio/printer-0.jpg' %}" alt="bone palm model prinrted using Infiiot Technologies 3d printing services">
                                    <figcaption>
                                        <h3>Industry Grade Desktop Printer</h3>
                                        <a class="link icon-pentagon" href="printer"><i
                                        class="fa fa-link"></i></a>
                                        <a class="view icon-pentagon" data-rel="prettyPhoto" href="{% static 'images/portfolio/printer-1.jpg' %}"><i class="fa fa-search"></i></a>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                    <!--/ End first service -->
                    <div class="col-md-4 col-sm-4 wow fadeInDown" data-wow-delay=".5s">
                        <div class="service-content">
                            <div class="grid">
                                <figure class="m-0 effect-oscar">
                                    <img src="{% static 'images/portfolio/3dmanu-0.jpg' %}" alt="bat model 3D print">
                                    <figcaption>
                                        <h3>3D Printing Services</h3>
                                        <a class="link icon-pentagon" href="3dmanu"><i
                                        class="fa fa-link"></i></a>
                                        <a class="view icon-pentagon" data-rel="prettyPhoto" href="{% static 'images/portfolio/3dmanu-1.jpg' %}"><i class="fa fa-search"></i></a>
                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Content Row end -->
                <!-- Services end -->
            </div>
            <!--/ 1st container end -->
        </section>
        <!--/ Main container end -->


        <div class="gap-40"></div>

        <div id="footer"></div>

    </div>
    <!-- Body inner end -->



    <!-- jQuery -->
    <script src="{% static 'plugins/jQuery/jquery.min.js' %}"></script>
    <!-- Bootstrap JS -->
    <script src="{% static 'plugins/bootstrap/bootstrap.min.js' %}"></script>
    <!-- Style Switcher -->
    <script type="text/javascript" src="{% static 'plugins/style-switcher.js' %}"></script>
    <!-- Owl Carousel -->
    <script type="text/javascript" src="{% static 'plugins/owl/owl.carousel.js' %}"></script>
    <!-- PrettyPhoto -->
    <script type="text/javascript" src="{% static 'plugins/jquery.prettyPhoto.js' %}"></script>
    <!-- Bxslider -->
    <script type="text/javascript" src="{% static 'plugins/flex-slider/jquery.flexslider.js' %}"></script>
    <!-- CD Hero slider -->
    <script type="text/javascript" src="{% static 'plugins/cd-hero/cd-hero.js' %}"></script>
    <!-- Isotope -->
    <script type="text/javascript" src="{% static 'plugins/isotope.js' %}"></script>
    <script type="text/javascript" src="{% static 'plugins/ini.isotope.js' %}"></script>
    <!-- Wow Animation -->
    <script type="text/javascript" src="{% static 'plugins/wow.min.js' %}"></script>
    <!-- Eeasing -->
    <script type="text/javascript" src="{% static 'plugins/jquery.easing.1.3.js' %}"></script>
    <!-- Counter -->
    <script type="text/javascript" src="{% static 'plugins/jquery.counterup.min.js' %}"></script>
    <!-- Waypoints -->
    <script type="text/javascript" src="{% static 'plugins/waypoints.min.js' %}"></script>

    <!-- SweetAlert2 -->
    <script src="{% static 'plugins/sweetalert2/sweetalert2.min.js' %}"></script>

    <!-- Main Script -->
    <script src="{% static 'js/script.js' %}"></script>

    <script>
        $(document).click(function(event) {
            var clickover = $(event.target);
            var _opened = $(".navbar-collapse").hasClass("show");
            if (_opened === true && !clickover.hasClass("navbar-toggler")) {
                $(".navbar-toggler").click();
            }
        });
    </script>

</body>

</html>