<!-- category start -->
<div class="widget widget-categories">
    <h3 class="widget-title">Categories</h3>
    <ul class="category-list clearfix">
        <li><a href="products-and-design">Products And Design</a><span class="posts-count"> (04)</span></li>
        <li><a href="industry-consultancy">Industry Consultancy</a><span class="posts-count"> (01)</span></li>
        <li><a href="infi-iot-platform">Infi IoT Platform</a><span class="posts-count"> (01)</span></li>
        <li><a href="web-development-services">Web Services</a><span class="posts-count"> (01)</span></li>
    </ul>
</div>
<!-- category end -->
<!-- tag start -->
<div class="widget widget-tags">
    <h3 class="widget-title">Tags</h3>
    <ul class="unstyled clearfix">
        <li><a href="products-and-design">IoT</a></li>
        <li><a href="products-and-design">Embedded Design</a></li>
        <li><a href="web-development-services">Web Development</a></li>
        <li><a href="industry-consultancy">Consultancy</a></li>
        <li><a href="products-and-design">LoRa</a></li>
        <li><a href="web-development-services">UI/UX</a></li>
        <li><a href="products-and-design">IoT Devices</a></li>
        <li><a href="infi-iot-platform">Cloud Computing</a></li>
        <li><a href="industry-consultancy">Industry 4.0</a></li>
        <li><a href="industry-consultancy">Automation</a></li>
        <li><a href="web-development-services">Database Design</a></li>
    </ul>
</div>
<!-- tag end -->